<mat-toolbar class="navbar">
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span id="brand-name" routerLink="/"> {{ title }} </span>
  <span class="example-spacer"></span>

  <button
    *ngIf="!isLogged"
    mat-button
    class="mat-raised-button"
    color="primary"
    routerLink="/login"
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
  >
    Login
  </button>

  <!-- Show text if isButtonVisible is false -->
  <span class="username" *ngIf="isLogged">Hi, {{loggedUser?.username}}</span>
</mat-toolbar>

<!-- src/app/app.component.html -->
<mat-sidenav-container class="sidebar">
  <!-- Sidebar -->
  <mat-sidenav #sidenav mode="side" [opened]="true">
    <mat-toolbar>Sidebar</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/">Home</a>
      <a mat-list-item routerLink="/create-blog">New Blog</a>
      <a mat-list-item href="#">About</a>
      <a mat-list-item href="#">Contact</a>
    </mat-nav-list>
  </mat-sidenav>

  <!-- Main content -->
  <mat-sidenav-content class="content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
